
*.pyc
mazebox/.DS_Store
mazebox/plotting/.DS_Store
mazebox/plasticity/.DS_Store
mazebox/archetypes/.DS_Store
mazebox/preprocessing/.DS_Store
.DS_Store
*.loom
notebooks/.ipynb_checkpoints/Bulk-Archetype-Tasks-checkpoint.ipynb
*.Rdata
*.h5ad
