
*.pyc
mazebox/.DS_Store
mazebox/plotting/.DS_Store
mazebox/plasticity/.DS_Store
mazebox/archetypes/.DS_Store
mazebox/preprocessing/.DS_Store
.DS_Store
*.loom
notebooks/.ipynb_checkpoints/Bulk-Archetype-Tasks-checkpoint.ipynb
*.Rdata
*.h5ad
notebooks/out/cell-lines/downsampled_X_magic_for_ParTI.csv
*.h5seurat
*.RDataTmp
*.Robj
notebooks/ParTI-code/single-cell/cell-lines/out/6/pcsOrig_samplesXdims.csv
notebooks/ParTI-code/single-cell/cell-lines/out/6/projOrig_varsXdims.csv
notebooks/out/cell-lines/downsampled_X_magic_scanorama_for_ParTI.csv
notebooks/out/cell-lines/ParetoTI/integrated-corrected-data.csv
notebooks/out/cell-lines/ParTI/downsampled_X_magic_scanorama_for_ParTI.csv
notebooks/out/cell-lines/ParTI/downsampled_X_magic_for_ParTI.csv
notebooks/out/cell-lines/ParetoTI/obsolete-with-doublets/integrated-corrected-data.csv
notebooks/out/human-tumors/ParetoTI/integrated-corrected-data.csv
notebooks/out/TKO-tumors/ParetoTI/integrated-corrected-data.csv
notebooks/out/human-tumors/obsolete/integrated-corrected-data.csv
notebooks/out/RPM-time-series/ParetoTI/integrated-corrected-data.csv
notebooks/out/PDX-tumors/ParetoTI/integrated-corrected-data.csv
data/single-cell-rna-seq/PNECs/trachea_10x_log2TPM.txt
data/single-cell-rna-seq/PNECs/GSE102580_filtered_normalized_counts_human.tsv
notebooks/out/human-tumors/ParetoTI/integrated-corrected-data_cc.csv
notebooks/out/RPM-time-series/GPCCA.pickle
notebooks/out/RPM-time-series/RPM_raw/X.csv
